@import "../../../variables.scss";

.colors-list {
  &__item {
    list-style: none;
  }
  &__colored-rectangle {
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background-color: var(--colored-rectangle);
  }
  &__span {
    margin: 0 5px;
  }
}
